.javaStartHUD,
.javaGameHUD,
.javaEndHUD{
    text-align: center;
    margin-top:30px;
    line-height: 40px;
}

.javaStartHUD>p,
.javaGameHUD>p,
.javaEndHUD>p{
    margin: 10px 0 10px;
}

.javaGameHUD,
.javaUserNext,
.javaEndHUD{
    display:none;
}

.javaStartHUD,
.javaGameHUD,
.javaEndHUD{
    border: 2px #FC766AFF solid;
    min-height: 450px;
}

.headFlex>li:nth-child(2)>a{
    color:#B0B8B4FF !important;
    background: #184A45FF;
    padding-bottom: 20px;
    border-radius: 15px 15px 0 0;
}